.header {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #931907;
    padding: 0 5%;
    z-index: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
    z-index: 40;
    position: fixed;
  }
  
  .logo {
    font-size: 2rem;
    color: #fcb8d2;
    font-weight: bold;
    cursor: pointer;
  }
  .inputContainer {
   margin-right: 20vw;
  }
  .input{
    background-position: 4px 4px;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3vh;
    display: block;
    box-sizing: border-box;
    border-top: 0.1px solid rgba(255,255,255,0.8);
    border-left: 0.1px solid rgba(255,255,255,0.8);
    border-right: 0.1px solid rgba(255,255,255,0.8);
    border-bottom: 0.1px solid rgba(255,255,255,0.8);
    background-color: rgba(0,0,0,0.7);
    color:  rgba(255,255,255,0.8);;
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 10px;
    transition: border-radius 0.2s ease-out;
    font-family: Roboto;
    outline: 0;
  }
  .on {
    border-radius: 15px 15px 0px 0px;
    border-bottom: none;
  }
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .navButton {
    font-size: 1.5rem;
    float:left;
    display:block;
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px 15px 10px 15px;
    margin-left: 2vw;
    /* width: 21vh; */
    /* margin-right: 40vw; */

    transition-duration: 400ms;
    transition-property: font-style background-color;
    transition-timing-function: ease-in-out;
    cursor: pointer;  
    position: relative;

    
  }

  .header span {
    text-decoration: none;
    font-size: 2rem;
    color: #fcb8d2;
    cursor: pointer;
  }
  .cart {
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    background-color:rgb(148, 48, 22);
    display: inline;
  }
  
  .header span:hover,
  .header span:active,
  .header span.active,
  .logo:hover,
  .logo:active {
    color: white;
  }
  .navButton:hover{
    background: rgba(0,0,0,0.75);
  }

  .input:focus {
   
    color: white;
  }
  .input:hover {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
 
