
.img { 
    width: 4rem;
    border-radius: 10px;
    
}

.description {
    font-size: 1rem;
    font-style: italic;
}
.name {
    font-size: 1.7rem;
    font-weight: 700;
}
.address {
    font-weight: 500;
    font-size: 1.3rem;
}
.displayContainer {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0px 0px 15px 15px;
    border-bottom: 0.1px solid rgba(255,255,255,0.8);
    border-left: 0.1px solid rgba(255,255,255,0.8);
    border-right: 0.1px solid rgba(255,255,255,0.8);
    color: rgba(255,255,255,0.8);
    position: absolute;
    width: 12.8rem;
    margin-left: 10px;
    border: 1;
    width: 24.95rem;
}

.display {
    border-top: 0.1px solid rgba(255,255,255,0.8);
    margin-bottom: 20px;
    
    
}

.display:hover {
    color: white;
    border-color: white;
    
}

.centered {
    text-align: center;
}
.redirectBtn {
    background-color: rgba(147, 25, 7,0.9);
    background: none;
    color: rgba(255,255,255,0.8);
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 15px;
    width: 70%;
    padding: 4px 4px 4px 4px;
    border-radius: 10px;
    transition: 0.4s;
    margin-bottom: 10px;
}

.redirectBtn:hover {
    color: white;
    text-decoration: underline;
}
