
.image {
    padding: 0px;
    
    
   
}

.image img {
    width: 30vw;
    border: 2px solid  rgba(0, 0, 0,0.7);
    border-radius: 10px 10px 10px 10px;
    
    

}

.title {
    color: #931907;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    
}

.subtitle {
   font-style: italic;
   font-weight: 500;
}

.description {
    font-weight: 500;
    font-size: 15px;
}

.h2 {
    color: #931907;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.left {
   width: 100px;
   position: sticky;
   display: inline-block;
}
.productName {
    font-weight: 700;
    font-size: 20px;
    color: #931907;
}
.price {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
}

.right {
    margin-left: 40vw;
    display: inline-block;
}
.right button {
    background-color: rgba(147, 25, 7,0.9);;
    color: rgba(255,255,255,0.7);
    margin: 10px;
    border-radius: none;
    cursor: pointer;
 
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    margin-bottom: 10px;

}
.cartBtn {
 
    background-color: rgba(147, 25, 7,0.9);;
    color: rgba(255,255,255,0.7);
    margin: 10px;
    border-radius: none;
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding: 8px 35px 8px 35px;
    border-radius: 10px;
    margin-bottom: 10px;
    
    
}
.itemContainer {
    padding: 1.5vw;
}
.descrip {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.amount {
    font-weight: 600;
    font-size: 16px;
}

.right button:hover, .cartBtn:hover {
    background-color: #5b1207;
    color: white;
}
.right button:active, .cartBtn:active {
    background-color: #280803;
    color: white;
}
.reviewTitle {
    color: #797979;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
   
    
}
.stars button {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}
.stars {
   
    transform: scale(-1, 1);
}
.trueBtn {
    color: yellow;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);

    
}
.falseBtn {
    color: grey;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
  

}
.str {
    color: grey;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
}
.trueStr {
    color: yellow;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
}

.falseBtn:hover ~ .falseBtn, .falseBtn:hover {
    color: rgba(255, 255, 93, 0.722);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
}
.errBtn {
    color: white;
    background-color: #7a4141;
    color: rgba(255,255,255,0.7);
    margin: 10px;
    cursor: pointer;
    border: 1px solid red;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding: 8px 35px 8px 35px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.normBtn {
    background-color:  #797979;
    margin: 10px;
    border-radius: none;
    cursor: pointer;
    border: none;
    color: white;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding: 8px 35px 8px 35px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.trueBtn:hover, .trueBtn:hover ~ .trueBtn {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);
}

.displayButton {
    background-color: #797979;
        color: rgba(255,255,255,0.7);
        margin: 0;
        border-radius: none;
        cursor: pointer;
        padding: 18px;
        width: 75%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        padding: 10px 20px 10px 20px;
        border-radius: 10px 10px 10px 10px;
}
.on {
    border-radius: 10px 10px 0px 0px;
  }
.nextBtn {
    background-color: #797979;
    color: rgba(255,255,255,0.7);
    margin: 0;
    border-radius: none;
    cursor: pointer;

    width: 80px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    font-weight: 600px;
    transition: 0.4s;
    padding: 8px;
    margin-left: 4px;
    margin-right: 4px;

    border-radius: 10px 10px 10px 10px;
}

.visibility {
    height: 0;
    overflow: hidden;
    transition: height  0.2s ease-out;
    width: 75%;
    margin-left: 12.5%;
    background-color:  #79797955;
    border-radius: 0px 0px 10px 10px;
}
.visiOn {
    border: 1px solid grey ;
}
.input label {
    display: block;
    font-size: 20px;
    font-weight: 500;
   
}
.input input {
    width: 60%;
    border: 1.3px solid #797979;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin: 5px;
    color: #797979;
    font-weight: 600;
    font-size: 16px;
}
.input textarea {
    width: 60%;
    height: 100px;
    border: 1.3px solid #797979;
    color: #797979;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin: 5px;
    font-size: 16px;
}



.nextBtn:hover,.displayButton:hover,.normBtn:hover {
    background-color: #4a4a4a;
}
.detailContainer {
    text-align: left;
    margin-left: 20px;
  
}
.date {
    font-size: 12px;
    color: rgb(92, 91, 91);
    
    top: 10px;
}
.subject{ 
    font-weight: 700;
    
}
.user {
    float: right; 
    font-size: 12px;
    color: rgb(92, 91, 91);
    position: static;
    margin-right: 20px;
}
.loading {
    margin-top: 100px;
    color: grey;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.bodyContainer {
    display: block;
    text-align: left;
    margin-left: 20px;
}
.scroller {
    overflow-y:scroll;
    overflow-x:hidden;
    top: 15vh;
    bottom: 0;
    height: 60%;
}
.selectedBtn {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.7);

}
.body {
    max-height: 45px;
    overflow-y: scroll;
    overflow-x: hidden;
}



.body::-webkit-scrollbar {
    border-radius: 10px;
    width: 5px;
    height: 0px;
  
  }
  .body::-webkit-scrollbar-track
   {
    background: transparent;
   
  }
  .body::-webkit-scrollbar-thumb {
    background:#797979;
    border-radius: 10px;

   
  
  }
  .body::-webkit-scrollbar-button {
    height: 100%;
  }
  /* Handle on hover */
  .body::-webkit-scrollbar-thumb:hover{
    background: #4a4a4a;
  }